<a href="https://colab.research.google.com/github/MasterHenry789/Micro-Credential/blob/main/Henry_Fong_Unit_5_SQL_HW_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1
CREATE TABLE customers (
    CustomerID      INT NOT NULL PRIMARY KEY,
    CustomerName    VARCHAR (100),
    Address         VARCHAR (100),
    City            VARCHAR (20),
    PostalCode      INT,
    Country         VARCHAR (50),
    Email           VARCHAR (50)

In [ ]:
#2
INSERT INTO customers (customerid, customername, address, city, postalcode, country, email)
VALUES (001, 'Teresa', '14 St.','New York', 11001, 'US','teresa568@outlook.com'),
       (002, 'Sarah','48-72 36 St.','New York', 11102, 'US','sarah887@gmail.com'),
       (003, 'Joel', '116 W Seaway', 'Texas', 78724, 'US', 'joelmiller872@outlook.com');
       
SELECT *
FROM customers;

In [ ]:
#3
UPDATE customers
SET address = '1125 Seattle Drive', postal code = 78746
WHERE customername = 'Joel';

SELECT *
FROM customers;

In [ ]:
#4
DELETE
FROM customers
WHERE customername = 'Maria';

SELECT *
FROM customers;

In [ ]:
#5