<a href="https://colab.research.google.com/github/MasterHenry789/Micro-Credential/blob/main/Henry_Fong_Unit_5_SQL_HW_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1
SELECT * 
FROM customer;

SyntaxError: ignored

In [ ]:
#2
SELECT first_name "First Name", last_name "Last Name", email 
  FROM customer

In [ ]:
#3
SELECT * 
FROM FILM

In [ ]:
#4
SELECT DISTINCT(release_year)
FROM FILM;

In [ ]:
#5
SELECT DISTINCT(rental_rate)
FROM FILM;

In [ ]:
#6
SELECT first_name, last_name, email
FROM customer
WHERE first_name = 'Nancy' AND last_name = 'Thomas';

In [ ]:
#7
SELECT address, phone
FROM address
WHERE address = '259 Ipon Drive';

In [ ]:
#8
SELECT store_id, address_id
FROM customer
WHERE store_id = 1 AND address_id > 150;

In [ ]:
#9
SELECT *
FROM payment
WHERE amount = 4.99 OR amount = 1.99;

In [ ]:
#10
SELECT *
FROM payment
WHERE amount > 5;